# Virtual environments
venv/
.venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Streamlit
.streamlit/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDEs and editors
.vscode/
.idea/

# Logs and local data
*.log

# Jupyter
.ipynb_checkpoints/

# PDF Files
*.pdf